.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: 'system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif';
  margin-bottom: 24px;
}

.text {
  font-size: 1rem;
  text-align: center;
}

.container {
  position: relative;
  background-color: #fff;
  width: 840px;
  max-width: 100%;
  margin: -40px auto 0;
  padding: 160px 80px;
  border-radius: var(--border-radius);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 80px 20px;
    margin: -20px auto 0;
  }

  .title {
    font-size: 1.5rem;
  }
}
