.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.1);
  transition:
    opacity 2s ease-in-out,
    transform 10s ease-out;
}

.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(10, 0, 21, 0.3) 0%,
    rgba(10, 0, 21, 0.5) 50%,
    rgba(10, 0, 21, 0.8) 100%
  );
  z-index: 2;
}
